# Channel Volume

In [161]:
import numpy as np
import pandas as pd

In [162]:
df = pd.read_csv("Business_case/Data/Channel_Volume.csv")
df

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,12/31/2007,2613.845506
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,12/31/2008,2513.025824
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,12/31/2009,2421.088595
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,12/31/2010,2422.128432
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,12/31/2011,2439.336220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2017,12/31/2017,16514.210840
8464,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2018,12/31/2018,16522.152390
8465,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2019,12/31/2019,16544.606440
8466,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2020,12/31/2020,16626.514900
8467,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2021,12/31/2021,16664.638000

In [163]:
df = df.rename(columns = {"Volume": "Volume (millions of liters)"})

In [164]:
mask = df["Unit"] == "000 litres"
df.loc[mask, "Volume (millions of liters)"] = df.loc[mask, "Volume (millions of liters)"].div(1000)
df

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume (millions of liters)
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,12/31/2007,2613.845506
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,12/31/2008,2513.025824
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,12/31/2009,2421.088595
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,12/31/2010,2422.128432
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,12/31/2011,2439.336220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8463,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2017,12/31/2017,16.514211
8464,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2018,12/31/2018,16.522152
8465,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2019,12/31/2019,16.544606
8466,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2020,12/31/2020,16.626515
8467,7,Alcoholic Drinks,2022,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,000 litres,2021,12/31/2021,16.664638

In [165]:
df = df.drop(columns=["Industry", "Unit", "Edition", "Year_date"])
df

,Location,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Year_text,Volume (millions of liters)
0,1,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,2007,2613.845506
1,1,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,2008,2513.025824
2,1,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,2009,2421.088595
3,1,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,2010,2422.128432
4,1,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,2011,2439.336220
...,...,...,...,...,...,...,...,...,...
8463,7,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,2017,16.514211
8464,7,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,2018,16.522152
8465,7,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,2019,16.544606
8466,7,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,2020,16.626515
8467,7,Cider/Perry,Cider/Perry,1,Off-trade Volume,Store-Based Retailing,1,2021,16.664638

In [179]:
print(df.isna().any())

Location                       False
Category                        True
Subcategory                    False
Hierarchy_Level                False
Data_Type                      False
Outlet                         False
Outlet_Hierarchy               False
Year_text                      False
Volume (millions of liters)    False
dtype: bool

In [181]:
print(df[df["Category"].isna()])

Empty DataFrame
Columns: [Location, Category, Subcategory, Hierarchy_Level, Data_Type, Outlet, Outlet_Hierarchy, Year_text, Volume (millions of liters)]
Index: []

# Company Share

In [166]:
df2 = pd.read_csv("Business_case/Data/Company_Share_GBO_unit.csv")
df2

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,8,Alcoholic Drinks,15,1,Total Volume,Diageo Plc,million litres,2017,31/12/17,5,35506.377320
1,8,Alcoholic Drinks,15,1,Total Volume,Pernod Ricard Groupe,million litres,2017,31/12/17,5,18482.595800
2,8,Alcoholic Drinks,15,1,Total Volume,Hite Jinro Co Ltd,million litres,2017,31/12/17,5,11121.698680
3,8,Alcoholic Drinks,15,1,Total Volume,Thai Beverage PCL,million litres,2017,31/12/17,5,6252.382590
4,8,Alcoholic Drinks,15,1,Total Volume,Suntory Holdings Ltd,million litres,2017,31/12/17,5,7834.494901
...,...,...,...,...,...,...,...,...,...,...,...
5436,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2017,17/12/31,5,6.408150
5437,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2018,31/12/18,6,3.075736
5438,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2019,19/12/31,7,0.996075
5439,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2020,31/12/20,8,0.970000
5440,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2021,31/12/21,9,0.960863

In [167]:
for column in df2.columns:
    print(column, ": ", df2[column].unique())

Location :  [8]
Industry :  ['Alcoholic Drinks']
Subcategory_ID :  [15 14 16 13 17  2  5  3  1  4  8  9  7  6 12 10 11]
Hierarchy_Level :  [1 3 2 4]
Data_Type :  ['Total Volume']
Global_Brand_Owner :  ['Diageo Plc' 'Pernod Ricard Groupe' 'Hite Jinro Co Ltd'
 'Thai Beverage PCL' 'Suntory Holdings Ltd'
 'Beijing Shunxin Agriculture Co Ltd'
 'Allied Blenders & Distillers Pvt Ltd' 'Bacardi & Co Ltd' 'Lotte Group'
 'Alliance Global Group Inc' 'Russian Standard Corp' 'San Miguel Corp'
 'Sazerac Co Inc' 'Muhak Co Ltd' 'Brown-Forman Corp'
 'Campari Milano SpA, Davide' 'Sujiu Group' 'Luzhou Lao Jiao Co Ltd'
 'Jing Brand Co Ltd' 'Tanduay Distillers Inc'
 'Sichuan Yibin Wuliangye Distillery Co Ltd' 'Radico Khaitan Ltd'
 'Takara Holdings Inc' 'Cia Muller de Bebidas Ltda'
 'Capital Wine Group Ltd' 'John Distilleries Pvt Ltd'
 'Stock Spirits Group' 'Heaven Hill Distilleries Inc'
 'Marie Brizard & Roger International SAS' 'William Grant & Sons Ltd'
 'Kumbokju Co Ltd' 'Jagatjit Industries Ltd' 'Tatspirtprom OAO'
 'Kirishima Corp' 'Asahi Group Holdings Ltd'
 'Global Spirits AMG-77 Holding Co' 'Constellation Brands Inc'
 'Sanwa Shurui Co Ltd' 'Sichuan Jian Nan Chun (Group) Co Ltd'
 'La Martiniquaise SVS' 'Anhui Gujing Group Co Ltd' 'E&J Gallo Winery Inc'
 'Status Group OOO' 'Nigeria Distilleries Ltd'
 'LVMH MoÃƒÂ«t Hennessy Louis Vuitton SA' 'Oenon Holdings Inc'
 'Edrington Group'
 'IndÃƒÂºstrias Reunidas de Bebidas Tatuzinho / 3 Fazendas Ltda'
 'Mast-JÃƒÂ¤germeister SE' 'Engarrafamento PitÃƒÂº Ltda'
 'Intercontinental Distillers Ltd' 'Kweichow Moutai Co Ltd'
 'Shaanxi Xifeng Liquor Co Ltd' 'Distell Group Ltd' 'Fenjiu Group'
 'Fifth Generation, Inc' 'Hebei Hengshui Laobaigan Liquor Co Ltd'
 'Mohan Meakin Ltd' 'Bayadera Holding TOV'
 'Distilleries Co of Sri Lanka Plc' 'Shandong JingZhi Distillery Co Ltd'
 'DestilerÃƒ\xadas Unidas SA' 'Bohae Brewery Co Ltd'
 'RÃƒÂ©my Cointreau Group' 'Alkogolnaya Sibirskaya Gruppa OOO'
 'Herman Jansen Beverages Nederland BV' 'Nemiroff UVK'
 'Guangdong Jiujiang Distillery Co Ltd' 'Yantai Changyu Group Co Ltd'
 'Bashspirt OAO' 'SPI Group' 'Anhui Yingjia Distillery Co Ltd'
 'Branca Distillerie Srl, Flli' 'V V Food & Beverage Co Ltd'
 'Afsar Co Ltd SP OOO' 'Daesun Distilling Co Ltd'
 'Amrut Distilleries Pvt Ltd' 'GK Kristall-Lefortovo OOO'
 'FÃƒÂ¡brica de Licores y Alcoholes de Antioquia' 'Kirin Holdings Co Ltd'
 'Ron Santa Teresa CA' 'Hanoi Alcohol Beer & Beverages Corp (Habeco)'
 'Sapporo Holdings Ltd' 'IndÃƒÂºstria de Bebidas Paris Ltda'
 'Xinjiang Yilite Industry Co Ltd' 'Satsuma Shuzo Co Ltd'
 "Jiangsu King's Luck Brewery JSC Ltd" 'Anhui Kouzi Distillery Co Ltd'
 'Kinmen Kaoliang Liquor Inc' 'Unkai Shuzo Co'
 'Ladoga Kholdingovaya Kompanya ZAO' 'Caribbean Distillers Corp Ltd (CDC)'
 'Lang Jiu Group' 'Oetker-Gruppe' 'Anheuser-Busch InBev NV'
 'Shiva Distilleries Ltd' 'Hamada Syuzou Co Ltd'
 'McCormick Distilling Co Inc' 'Grupo Corona Spirits SA de CV'
 'Uganda Breweries Ltd' 'Berentzen-Gruppe AG' 'Ketel One Worldwide BV'
 'Luxco Corp' 'RotkÃƒÂ¤ppchen-Mumm Sektkellereien GmbH'
 'Tilaknagar Industries Ltd' 'Loch Lomond Distillery Co Ltd'
 'Nikaido Shuzo Co Ltd'
 "GrÃƒÂ¤flich von Hardenberg'sche Kornbrennerei GmbH & Co KG" 'Altia Oyj'
 'Minski Zavod Vinogradnyh Vin ZAO' 'Industrias Licoreras de Guatemala SA'
 'Cooperativa AgrÃƒ\xadcola Pisquera de Elqui Ltda' 'Lucas Bols BV'
 'Minsk Kristall OAO' 'Grupo Osborne SA'
 'Vinhos Salton SA IndÃƒÂºstria e ComÃƒÂ©rcio' 'Olimp Corp'
 'Anhui Golden Seed Winery Co Ltd' 'Farvab JV'
 'Eastern Beverage Company SA' 'Farovon OOO PTK' 'Veda ZAO'
 'White Rock Distilleries Inc' 'Synergya OAO' 'Grupo Cuervo SA de CV'
 'Sichuan Tuopai Shede Wine Co Ltd' 'SABMiller Plc' 'BelvÃƒÂ©dÃƒÂ¨re SA'
 'Dialog OOO' 'Vats Group' 'Altera Holding' 'UB Group' 'Beam Inc'
 'Zolotaya Manufaktura OOO' 'Georgievskoe LVZ ZAO' 'Private Label'
 'Others' 'Central European Distribution Corp (CEDC)'
 'Hubei Zhijiang Distillery Co Ltd' 'Rosspirtprom FGUP' 'Beluga Group PAO'
 'Becle SAB de CV' 'SkyOcean Group Holdings Co Ltd'
 'Treasury Wine Estates Ltd' 'Wine Group Inc, The' 'Castel Groupe'
 'ViÃƒÂ±a Concha y Toro SA' 'Accolade Wines Ltd' 'Grupo PeÃƒÂ±aflor SA'
 'FeCoVitA Coop Ltda' 'Cantine Riunite & CIV SC Agr'
 'Trinchero Family Estates' 'Kuai Ji Shan Shaoxing Wine Co Ltd'
 'Zhejiang Guyue Longshan Shaoxing Wine Co Ltd'
 'CAVIRO - Cooperative Agricole Viti-Frutticoltori Italiani Riuniti Organizzati Scarl'
 'J GarcÃƒ\xada CarriÃƒÂ³n SA' 'CÃƒ\xada CervecerÃƒ\xadas Unidas SA'
 'Seoul Takju Association' 'Freixenet SA' 'ViÃƒÂ±a Santa Rita SA'
 'Grands Chais de France SA, Les' 'Casella Wines Pty Ltd' 'RPB SA'
 'Sektkellerei Schloss Wachenheim AG' 'Altria Group Inc'
 'Jiangsu Zhangjiagang Brewery Co Ltd'
 'China National Cereals, Oils & Foodstuffs Imp & Exp Corp (COFCO)'
 'Bronco Wine Co' 'Bright Food (Group) Co Ltd' 'Andrew Peller Ltd'
 'Australian Vintage Ltd' 'Kendall-Jackson Wine Estates'
 'Cantina Viticoltori, Consorzio Cantine Sociali del Trentino (CAVIT) scarl'
 'Hakutsuru Sake Brewing Co Ltd' 'Bodegas y ViÃƒÂ±edos Garbin SA'
 'Gekkeikan Sake Co Ltd' 'Kooksoondang Brewery Co Ltd'
 'FÃƒÂ©lix SolÃƒ\xads Avantis SA' 'Advini SA' 'Ariant TSPI OOO'
 'Royal Ahold NV' 'De Bortoli Wines Pty Ltd' 'CodornÃƒ\xadu SA'
 'Igristye Vina ZAO' 'Boisset - La Famille des Grands Vins SAS'
 'Union In Vivo Sca' 'Jidvei SRL' 'Bodegas Valentin Bianchi SA'
 'Raisin Social Ltd' 'WJ Deutsch & Sons' "McWilliam's Wines Pty Ltd"
 'Miguel Torres SA' 'Gatchinsky Spirtovoy Zavod OOO' 'SIS Industries OOD'
 'Schenk SA' 'Santa Helena SA' 'Sogrape Group' 'Janton SA SpK'
 'Cooperativa VinÃƒ\xadcola Aurora Ltda' 'Ozeki Co Ltd'
 'Bartex-Bartol Sp zoo Sp k' 'Alvisa SL' 'Molinos RÃƒ\xado de la Plata SA'
 'DZIV OAO' 'Yantai Weilong Grape Wine Co Ltd' 'Vincon Vrancea SA'
 'Nihonsakari Co Ltd' 'Vranken-Pommery Monopole SA'
 'Dynasty Winery Co Ltd' 'Boutaris Group'
 'Moskovskiy Mezhrespublikanskiy Vinodelcheskiy Zavod OAO' 'Olymp OOO'
 'Brand Phoenix Ltd' 'Gerrus Group' 'Kronos-Invest TPG'
 'Zhejiang Anji Wuzhanmao Wine Co Ltd' 'Jeanjean SA' 'Soyuzplodimport ZAO'
 'Krasnoarmeisky RPK OOO' 'Mark Anthony Brands Ltd'
 'Boston Beer Co Inc, The' 'Shanghai Bacchus Liquor Co Ltd'
 'Phusion Projects LLC' 'Halewood International Ltd'
 'Arbor Brasil IndÃƒÂºstria de Bebidas Ltda' 'Cepas Argentinas SA'
 'Novi Produkty Group' 'Beverage Brands (UK) Ltd' 'Dragonyte Brewery'
 'Carlsberg A/S' 'Siam Winery Co Ltd' 'Olvi Oyj' 'Royal Unibrew A/S'
 'Empresas Polar CA' 'United Bottling Group'
 'Productos Derivados del Vino SA' 'Obolon PAT'
 'Productos de Uva SA de CV' 'Peter Herres Wein- & Sektkellerei GmbH'
 'American Beverage Corp' 'IBB Ltd' 'Heineken NV' 'Alkon-M OOO'
 'Mertes KG Weinkellerei, Peter' 'Ochakovo MPBK ZAO' 'Rum Co, The'
 'Industrias El Carmen CA' 'Riks TOO'
 'Katlenburger Kellerei Dr Demuth GmbH & Co KG' 'Opal Ltda' 'Kobrand Corp'
 'Choya Umeshu Co Ltd' 'G & J Greenall Group Ltd' 'Aqualife PK OAO'
 "King's Bridge Royal Distillery"
 'Minski Zavod Bezalcoholnyh Napitkov ZAO (MZBN)' 'Vok Beverages Pty Ltd'
 'Global Brands Ltd' 'Vanguard Group' 'LaÃ…Â¡ko Grupa' 'Carlson Cos Inc'
 'VitivinÃƒ\xadcola Cereser SA' 'Brauerei C & A Veltins GmbH & Co KG'
 'Istok OAO' 'China Resources Holdings Co Ltd' 'Tsingtao Brewery Co Ltd'
 'Beijing Yanjing Brewery Co Ltd'
 'Saigon Alcohol Beer & Beverages Corp (Sabeco)'
 'Cervejaria PetrÃƒÂ³polis SA' 'Anadolu Group' 'Henan Jinxing Brewery Group'
 'Guangzhou Zhujiang Brewery Co Ltd' 'Grupo Mahou-San Miguel SA'
 'Boon Rawd Brewery Co Ltd' 'Blue Ribbon Intermediate Holdings LLC'
 'Bitburger Braugruppe GmbH' 'Oettinger Brauerei GmbH'
 'Krombacher Brauerei Bhd Schadeberg GmbH & Co KG'
 'Cia da UniÃƒÂ£o de Cervejas de Angola SA' 'Damm SA'
 'Paulaner Brauerei GmbH & Co KG' 'Florida Ice & Farm Co SA'
 'Taiwan Tobacco & Liquor Corp' 'Yuengling Brewery'
 'Warsteiner Brauerei Haus Cramer GmbH & Co KG'
 'CervecerÃƒ\xada Centroamericana SA' 'Brau Holding International AG'
 'Bavaria NV' 'BGI Ethiopia Plc' 'Super Bock Group SGPS SA'
 'Erdinger Privatbrauerei WeissbrÃƒÂ¤u Werner Brombach GmbH'
 'Karlsberg Brauerei GmbH & Co KG' 'Behnoush Iran Co' 'Cisneros, Grupo'
 'Asia Brewery Inc' 'Unicer - Bebidas de Portugal SA'
 'China Resources Enterprise Ltd' 'Pabst Brewing Co'
 'Oriental Brewery Co Ltd' 'Nantong Fuhao Alcohol Industry Co Ltd'
 'Modelo SA de CV, Grupo' 'Chongqing Brewery Co Ltd'
 'Kingway Brewery Holdings Ltd' 'Lanzhou Huanghe Beer Co Ltd'
 'C&C Group Plc' 'Kopparbergs Bryggeri AB' 'Aston Manor Brewery Co Ltd'
 'Ãƒâ€¦bro Bryggeri AB' 'Thatchers Cider Co Ltd' 'H Weston & Sons Ltd'
 'Agrial Groupe' 'Valle, Ballina & FernÃƒÂ¡ndez SA' 'Bodegas Cuvillier SA'
 'Celliers AssociÃƒÂ©s' 'CRS Brands IndÃƒÂºstria & ComÃƒÂ©rcio Ltda'
 'Sidra Escanciador SA' 'Bodegas de Villaviciosa SA'
 'Brothers Drinks Co Ltd' 'Herrljunga Cider AB' 'Cyder House Aspall, The'
 'Ovinto SA' 'Manuel Busto Amandi SA' 'Hansa Borg Bryggerier AS'
 'Royal Fruit Garden TOV' 'Grupo Camin Lavandera SL' 'Cidre Le Brun Earl'
 'Grusifas SA' 'Ramseier Suisse AG' 'Mosterei MÃƒÂ¶hl AG' 'Envasados Eva SA'
 'SHS Group' 'Cult A/S' 'Sidra MenÃƒÂ©ndez SL' 'Spendrups Bryggeri AB'
 'Adams Cider Co Ltd' 'Custom Drinks SLU' 'Zapiain SAT'
 'MartÃƒ\xadnez SopeÃƒÂ±a Hermanos SL' 'KrÃƒÂ¶nleins Bryggeri AB'
 'Thrre Town Ind Brewery' 'SÃƒÂ¡enz Briones y CÃƒ\xada SAI y C'
 'Brauerei Maisel GmbH & Co KG' 'Craft Brew Alliance Inc'
 'Weissbierbrauerei Georg Schneider & Sohn GmbH'
 'KÃƒÂ¶nig Ludwig GmbH & Co KG' 'New Belgium Brewing Co'
 'Stieglbrauerei zu Riedenburg, Franz Huemer & Co'
 'Lovina Beach Brewery PT' 'Badische Staatsbrauerei Rothaus AG'
 'Duvel Moortgat NV' 'PBK Radomyshl OAO'
 'Privat-Brauerei Schmucker GmbH & Co KG' 'Bavick NV'
 'Big Rock Brewery Inc' 'Ukrprominvest ZAO'
 'Guangdong Blue Ribbon Group Co Ltd' 'Miller Brands Germany GmbH'
 'Browary Regionalne Jakubiak Sp zoo' 'Van Pur SA'
 "Matso's Broome Brewery" 'Brauerei Murau eGen' 'Ottakringer GetrÃƒÂ¤nke AG'
 'Perla Browary Lubelskie SA' 'Zwettl, Privatbrauerei'
 'Pivovar Steiger Vyhne sro'
 'Deutsche Sinalco GmbH MarkengetrÃƒÂ¤nke & Co KG'
 'Sierra Nevada Brewing Co' 'Greene King Plc' 'Coopers Brewery Ltd'
 "Marston's Plc" "Wells & Young's Brewing Co Ltd"
 'Reissdorf GmbH & Co, Privatbrauerei' 'Fuller, Smith & Turner Plc'
 'Gaffel Becker & Co oHG, Privatbrauerei' 'CÃƒÂ¶lner HofbrÃƒÂ¤u FrÃƒÂ¼h'
 'Shepherd Neame Ltd' 'BrewDog plc' 'Abbaye Notre Dame de Scourmont'
 'Abdij der Trappisten van Westmalle' 'Young & Co Brewery Plc'
 'Brasserie De Saint-Omer' 'Wadworth & Co Ltd' 'Adnams & Co Plc'
 'Brasseries Duyck SA' 'Difcom La Cave des PÃƒÂ¨res SA'
 'Butcombe Brewery Ltd' 'Timothy Taylor & Co Ltd'
 "Abbaye Notre Dame d'Orval" 'Gambrinus Co, The' 'Lagunitas Brewing Co'
 'Palm NV, Brouwerij' 'Meantime Brewing Co Ltd' 'Dom-Brauerei AG'
 'Persha Pryvatna Brovarnya AT' 'Frankfurter Brauhaus GmbH'
 'Hangzhou Qiandaohu Brewery Co Ltd' 'Arpanoosh Co' 'GlaabsbrÃƒÂ¤u KG'
 'Aujan Industries Co Ltd' 'Eichbaum GmbH & Co KG'
 'Hurlimann AG, Brauerei' 'Goya Foods Inc' 'Hijos de Rivera SA'
 'Coca-Cola Co, The' 'PepsiCo Inc' 'United Dutch Breweries BV'
 'Budejovicky Budvar np' 'Tempo Beer Industries Ltd'
 'Martens Brouwerij NV' 'Tarricone SpA' 'Bali Hai Brewery Indonesia PT'
 'Romaqua Group SA' 'Mahou SA' 'Birra Castello SpA' 'European Food SA'
 'Shanghai Donghai Brewery Co Ltd' 'Siping Ginsber Draft Beer Co Ltd'
 'Tibet Galaxy Science & Technology Development Co Ltd'
 'Augustiner-BrÃƒÂ¤u Wagner KG' 'Namibia Breweries Ltd' 'Birra Forst SpA'
 'Mount Shivalik Industries Ltd' 'Jebsen & Co Ltd'
 'Flensburger Brauereien Emil Petersen GmbH & Co KG'
 'SociÃƒÂ©tÃƒÂ© Frigorifique et Brasserie de Tunis' 'Krinitsa OAO']
Unit :  ['million litres']
Year_text :  [2017 2016 2018 2021 2020 2019]
Year_date :  ['31/12/17' '17/12/31' '31/12/16' '16/12/31' '18/12/31' '31/12/18'
 '31/12/21' '21/12/31' '31/12/20' '20/12/31' '19/12/31' '31/12/19']
Year_minus_2016 :  [5 4 6 9 8 7]
Volume :  [3.55063773e+04 1.84825958e+04 1.11216987e+04 ... 3.07573594e+00
 9.70000032e-01 9.60863159e-01]

In [168]:
df2 = df2.rename(columns={"Volume": "Volume (millions of liters)"})
df2

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume (millions of liters)
0,8,Alcoholic Drinks,15,1,Total Volume,Diageo Plc,million litres,2017,31/12/17,5,35506.377320
1,8,Alcoholic Drinks,15,1,Total Volume,Pernod Ricard Groupe,million litres,2017,31/12/17,5,18482.595800
2,8,Alcoholic Drinks,15,1,Total Volume,Hite Jinro Co Ltd,million litres,2017,31/12/17,5,11121.698680
3,8,Alcoholic Drinks,15,1,Total Volume,Thai Beverage PCL,million litres,2017,31/12/17,5,6252.382590
4,8,Alcoholic Drinks,15,1,Total Volume,Suntory Holdings Ltd,million litres,2017,31/12/17,5,7834.494901
...,...,...,...,...,...,...,...,...,...,...,...
5436,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2017,17/12/31,5,6.408150
5437,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2018,31/12/18,6,3.075736
5438,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2019,19/12/31,7,0.996075
5439,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2020,31/12/20,8,0.970000
5440,8,Alcoholic Drinks,11,4,Total Volume,Others,million litres,2021,31/12/21,9,0.960863

In [169]:
df2 = df2.drop(columns=["Industry", "Unit", "Year_date", "Year_minus_2016"])

# Market Sizes

In [170]:
df3 = pd.read_csv("Business_case/Data/Market_Sizes.csv")
df3

,Location,Industry,Subcategory,Hierarchy_Level,Data_Type,Unit,Current_Constant,Currency_Conversion,Year,Year_date,RSP,Volume,Year_minus_2016,Year_minus_2022,Edition
0,1,Alcoholic Drinks,13,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,12/31/2016,149.912,68.437,4,-2,2022
1,1,Alcoholic Drinks,13,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,12/31/2017,156.954,70.700,5,-1,2022
2,1,Alcoholic Drinks,13,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,12/31/2018,161.843,70.691,6,0,2022
3,1,Alcoholic Drinks,13,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,12/31/2019,168.026,69.074,7,1,2022
4,1,Alcoholic Drinks,13,1,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,12/31/2020,173.751,67.887,8,2,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,7,Alcoholic Drinks,10,4,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,12/31/2022,54.964,9.482,10,4,2022
1217,7,Alcoholic Drinks,10,4,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,12/31/2023,55.757,9.549,11,5,2022
1218,7,Alcoholic Drinks,10,4,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,12/31/2024,56.574,9.619,12,6,2022
1219,7,Alcoholic Drinks,10,4,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,12/31/2025,57.382,9.686,13,7,2022
1220,7,Alcoholic Drinks,10,4,Total Value RSP,USD million,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,12/31/2026,58.232,9.760,14,8,2022

In [171]:
for column in df3.columns:
    print(column, ": ", df3[column].unique())

Location :  [1 2 3 4 5 6 7]
Industry :  ['Alcoholic Drinks']
Subcategory :  [13 16 17 14 15  4  5  3  2  1  6  7  8  9 12 11 10]
Hierarchy_Level :  [1 3 2 4]
Data_Type :  ['Total Value RSP']
Unit :  ['USD million']
Current_Constant :  ['Historic Constant 2021 Prices, Forecast Constant 2021 Prices']
Currency_Conversion :  ['Historic Fixed 2021 Exchange Rates, Forecast Fixed 2021 Exchange Rates']
Year :  [2016 2017 2018 2019 2020 2021 2022 2023 2024 2025 2026]
Year_date :  ['12/31/2016' '12/31/2017' '12/31/2018' '12/31/2019' '12/31/2020'
 '12/31/2021' '12/31/2022' '12/31/2023' '12/31/2024' '12/31/2025'
 '12/31/2026' '12/31/1987' '12/31/1966' '12/31/1976']
RSP :  [149.912 156.954 161.843 ...  56.574  57.382  58.232]
Volume :  [ 68.437  70.7    70.691  69.074  67.887  68.804  69.816  70.587  71.338
  72.045  72.744   2.101   2.129   2.122   2.128   2.164   2.197   2.232
   2.266   2.299   2.332   2.364  24.704  23.662  22.282  20.882  20.819
  20.593  20.596  20.546  20.549  20.59   20.659  31.687  31.342  32.34
  32.389  31.419  32.046  32.727  33.461  34.251  35.076  35.904  14.901
  15.291  15.793  16.328  16.858  17.376  17.993  18.674  19.379  20.067
  20.629  26.382  26.142  26.368  26.6    26.588  26.414  26.338  26.319
  26.38   26.425  28.186  27.78   27.79   27.824  27.983  28.049  28.194
  28.343  28.498  28.657  28.822 859.    922.      1.047   1.161   1.234
   1.319   1.429   1.55    1.681   1.82    1.964 350.    334.    317.
 305.    297.    289.    281.    273.    267.    261.    255.    413.
 384.    337.    271.    192.    158.    145.    139.    136.    134.
 133.    306.    319.    336.    377.    407.    430.    449.    470.
 494.    519.    548.    246.    235.    308.    340.    365.    398.
 429.    459.    488.    517.    798.    901.    890.    885.    921.
 983.      1.025   1.057   1.083   1.1     1.113 487.    498.    491.
 490.    497.    499.    500.    501.    502.      6.      7.      9.
  11.     14.     15.     16.     17.     19.     20.     22.     86.
  98.    112.    121.    144.    155.    165.    175.    185.    194.
  54.     61.     77.     99.    122.    126.    131.    141.    149.
 123.    125.    124.    127.    130.    137.    140.    333.    378.
 379.    406.    399.    421.    442.    462.    481.    108.    167.
 263.    291.    278.    275.    253.    248.    247.      1.215   1.225
   1.221   1.198   1.2     1.197   1.204   1.214   1.227   1.24    1.256
   5.912   5.901   5.792   5.998   6.197   6.391   6.598   6.81    7.025
   7.241   7.456 643.    658.    662.    669.    678.    693.    709.
 725.    742.    758.    773.      3.013   2.898   2.752   2.674   2.651
   2.686   2.742   2.811   2.891   2.981   3.077   2.046   2.09    2.047
   2.103   2.03    2.003   2.092   2.189   2.291   2.395   2.501   1.015
   1.052   1.103   1.153   1.201   1.255   1.305   1.358   1.413   1.472
   1.532   3.451   3.517   3.578   3.658   3.749   3.855   3.893   3.958
   4.023   4.088   4.155  11.817  12.083  12.413  12.614  12.694  12.847
  12.992  13.148  13.3    13.473  13.651  74.     75.     76.     79.
  80.     82.      2.994   2.774   2.521   2.288   2.258   2.25    2.256
   2.272   2.293   2.321   2.351   1.69    1.67    1.683   1.65    1.646
   1.745   1.767   1.794   1.841   1.862 603.    626.    653.    671.
 667.    688.    715.    747.    781.    816.    851.      1.926   1.975
   2.011   2.056   2.11    2.163   2.212   2.34    2.378  67.822  70.006
  69.875  68.122  66.823  67.582  68.446  69.045  69.605  70.106  70.59
   1.828   1.839   1.815   1.804   1.819   1.827   1.849   1.857   1.864
   1.871  23.231  22.209  20.806  19.363  19.155  18.839  18.74   18.597
  18.512  18.467  18.453  31.432  31.069  32.016  32.023  31.014  31.604
  32.249  32.942  33.688  34.478  35.27   11.678  12.08   12.443  12.799
  13.202  13.643  14.131  14.653  15.178  15.671  16.14   23.789  23.262
  23.154  23.167  23.102  22.913  22.799  22.723  22.673  22.639  22.602
  22.093  21.664  21.557  21.461  21.459  21.378  21.358  21.35   21.362
  21.384  21.417   1.172   1.14    1.196   1.271   1.302   1.313   1.324
   1.339   1.355   1.373   1.391 115.    128.    132.    129.     21.
  23.     28.     32.     35.     38.     42.     45.     48.     51.
 880.    875.    897.    952.      1.06    1.098   1.143   1.176   1.233
   1.265  59.     62.     69.     90.    109.    118.    135.      2.
  18.     30.    103.    152.    177.    391.    410.    405.    394.
 389.    390.      1.066   1.089   1.144   1.189   1.248   1.377   1.44
   1.497   1.549   1.599  41.     68.    189.    354.    447.    560.
 689.    833.    987.     24.     25.     27.     29.    161.    169.
 164.    176.    184.    201.    209.    218.     37.      3.      5.
   8.    585.    679.    731.    766.    734.    721.    723.    732.
 745.    760.    776.      1.409   1.383   1.361   1.337   1.348   1.343
   1.327   1.317   1.306   1.293  40.     67.     71.     78.     84.
 215.    228.    238.    250.    265.    284.    302.    321.    360.
 380.     63.     81.     85.     89.     94.     46.     49.     58.
  64.     31.     33.     39.     44.      1.297   1.5     1.754   1.894
   1.982   2.02    2.061   2.106   2.152   2.2     2.137   2.143   2.249
   2.292   2.338   2.402   2.461   2.511   2.558   2.603 200.    244.
 282.    454.     70.     72.     57.     56.     66.    652.    639.
 635.    719.    752.    788.    824.    860.    211.    227.    241.
 252.    256.    258.    280.    466.    438.    441.    440.    444.
 446.    452.    313.    325.    322.    335.    341.    352.    363.
 374.    393.    401.     10.     12.    276.    266.    330.    419.
 465.    507.    543.     88.    159.    204.    223.    272.    286.
 301.      1.367   1.396   1.466   1.539   1.592   1.631   1.698   1.782
   1.884   1.997   2.008 110.    107.    113.    119.      1.051   1.093
   1.145   1.235   1.278   1.321   1.364   1.41    1.456  67.92   70.12
  70.003  68.254  66.955  67.712  68.575  69.173  69.733  70.237  70.725
   1.843   1.836   1.854   1.866   1.881   1.893   1.904   1.915   1.925
  24.111  23.084  21.704  20.316  20.214  19.937  19.883  19.773  19.716
  19.701  19.718  31.491  31.131  32.084  32.097  31.097  31.695  32.349
  33.051  33.806  34.605  35.405  11.68   12.082  12.461  12.829  13.247
  13.703  14.21   14.756  15.305  15.823  16.317  24.18   23.626  23.532
  23.577  23.507  23.312  23.193  23.113  23.062  23.028  22.992  23.159
  22.753  22.701  22.65   22.707  22.691  22.736  22.79   22.859  22.933
  23.017  95.    166.    240.    309.    518.    767.    914.      1.071
 231.    245.    257.    270.    287.    307.    328.    348.    369.
 411.    213.    224.    237.    234.    269.    294.     93.    100.
 117.      1.203   1.173   1.231   1.308   1.34    1.353   1.366   1.403
   1.423   1.444   1.882   2.18    2.486   2.66    2.716   2.741   2.784
   2.838   2.897   2.96    3.026   3.546   3.526   3.558   3.587   3.64
   3.682   3.738   3.788   3.828   3.864   3.897  46.891  47.459  46.186
  42.824  39.458  38.375  37.417  36.264  34.992  33.611  32.159   5.784
   5.351   4.952   4.57    4.464   4.315   4.257   4.207   4.163   4.122
   4.092 733.    755.    794.    855.    886.    917.    951.    660.
 738.    846.    950.      1.056   1.169   1.299   1.382   1.473   1.573
   6.2     5.942   5.772   5.612   5.496   5.418   5.347   5.277   5.201
   5.124   5.046   2.142   2.089   2.053   1.98    1.942   1.913   1.817
   1.784  16.261  17.119  17.629  18.311  19.715  20.984  22.204  23.346
  24.546  25.797  27.095   1.041 998.    934.    888.    857.    830.
 807.    783.    737.     11.671  11.25   10.534   9.86    9.82    9.669
   9.604   9.479   9.392   9.332   9.282  28.358  28.511  28.362  27.244
  27.54   27.939  28.373  28.85   29.368  29.881   9.323   9.541   9.689
   9.843  10.049  10.288  10.62   10.966  11.308  11.615  11.894  12.374
  12.002  11.75   11.461  11.198  10.71   10.308   9.964   9.673   9.429
   9.213  10.635  10.361  10.296  10.195  10.123  10.023   9.963   9.92
   9.894   9.881   9.874   4.669   5.428   6.06    6.987   7.65    8.223
   8.825   9.435  10.067  10.698  11.336 809.    850.    933.    973.
   1.009   1.042   1.073   1.104   1.134   5.776   5.609   5.32    4.933
   4.871   4.854   4.879   4.911   4.956   5.014   5.079   2.435   2.591
   2.772   2.901   3.016   3.27    3.486   3.714   3.952   4.193   4.439
   1.695   1.801   1.908   2.007   2.097   2.186   2.284   2.388   2.488
   2.583   5.215   5.318   5.632   6.094   6.408   6.785   7.144   7.481
   7.798   8.086   8.343   9.316   9.214   9.208   9.259   9.356   9.413
   9.482   9.549   9.619   9.686   9.76 ]
Year_minus_2016 :  [ 4  5  6  7  8  9 10 11 12 13 14]
Year_minus_2022 :  [-2 -1  0  1  2  3  4  5  6  7  8]
Edition :  [2022]

In [172]:
df3 = df3.drop(columns=["Industry", "Unit", "Year_date", "Year_minus_2016", "Year_minus_2022", "Edition"])
df3

,Location,Subcategory,Hierarchy_Level,Data_Type,Current_Constant,Currency_Conversion,Year,RSP,Volume
0,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,149.912,68.437
1,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,156.954,70.700
2,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,161.843,70.691
3,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,168.026,69.074
4,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,173.751,67.887
...,...,...,...,...,...,...,...,...,...
1216,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,54.964,9.482
1217,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,55.757,9.549
1218,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,56.574,9.619
1219,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,57.382,9.686
1220,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,58.232,9.760

In [178]:
# Checking for null values

print(df3.isna().any())

Location                       False
Subcategory                    False
Hierarchy_Level                False
Data_Type                      False
Current_Constant               False
Currency_Conversion            False
Year                           False
RSP (USD Millions)             False
Volume (millions of liters)    False
dtype: bool

In [173]:
df3["Volume"] = df3["Volume"].div(1000000)

In [174]:
df3 = df3.rename(columns={"RSP": "RSP (USD Millions)", "Volume": "Volume (millions of liters)"})
df3

,Location,Subcategory,Hierarchy_Level,Data_Type,Current_Constant,Currency_Conversion,Year,RSP (USD Millions),Volume (millions of liters)
0,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2016,149.912,0.000068
1,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2017,156.954,0.000071
2,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2018,161.843,0.000071
3,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2019,168.026,0.000069
4,1,13,1,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2020,173.751,0.000068
...,...,...,...,...,...,...,...,...,...
1216,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2022,54.964,0.000009
1217,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2023,55.757,0.000010
1218,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2024,56.574,0.000010
1219,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2025,57.382,0.000010
1220,7,10,4,Total Value RSP,"Historic Constant 2021 Prices, Forecast Consta...","Historic Fixed 2021 Exchange Rates, Forecast F...",2026,58.232,0.000010

In [175]:
# Save files

In [176]:
df.to_csv("Preprocessed_data/Channel_Volume.csv")
df2.to_csv("Preprocessed_data/Company_Share_GBO_unit.csv")
df3.to_csv("Preprocessed_data/Market_Sizes.csv")